<div class="animated fadeIn">
  <div class="row">
    <div class="col-12" [formGroup]="form">
      <div class="card">
        <div class="card-header"><i class="fa fa-plus mr-2"></i>Create role name</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="row">
                <div class="col-md-6">
                  <nxp-input
                    title="Name"
                    type="text"
                    [parentForm]="form"
                    [submit]="submit"
                    control="name"
                    maxlength="100"
                    (change)="onChange($event)"
                  ></nxp-input>
                </div>
                <div class="col-md-6">
                  <nxp-input
                    title="Label"
                    type="text"
                    [parentForm]="form"
                    [submit]="submit"
                    control="label"
                    maxlength="100"
                    (change)="onChange($event)"
                  ></nxp-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button (click)="onSubmit()" class="btn btn-sm btn-primary mx-1">
                    <i class="fa fa-save mr-1"></i>Submit
                  </button>
                  <button (click)="onReset()" class="btn btn-sm btn-danger mx-1">
                    <i class="fa fa-refresh mr-1"></i>Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header"><i class="fa fa-list mr-2"></i>Roles</div>
        <div class="card-body p-0">
          <div class="row">
            <div class="col-xl-4 col-md-6 mx-auto mx-auto">
              <div class="form-group">
                <div class="input-group mt-3 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="input-searching"
                    placeholder="Name, Label"
                    name="input_searching"
                    [(ngModel)]="searching"
                    (enter)="onSearching()"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="button-searching" (click)="onSearching()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mx-auto">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-align-middle mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Label</th>
                      <th>Users</th>
                      <th style="width: 75px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let role of roles; let i = index">
                      <td class="text-left">{{ i + 1 }}</td>
                      <td class="text-left">{{ role.name }}</td>
                      <td class="text-left">{{ role.label }}</td>
                      <td class="text-left">
                        <button [disabled]="role.removable" (click)="onViewUsers(i)" class="btn btn-sm btn-light">
                          <i class="fa fa-users mr-1"></i>Users
                        </button>
                      </td>
                      <td style="width: 75px">
                        <button type="button" (click)="onEdit(i)" class="btn btn-sm btn-warning">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button
                          type="button"
                          *ngIf="role.removable"
                          (click)="onDelete(role.id)"
                          class="btn btn-sm btn-danger"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="roles.length === 0">
                      <td colspan="7" class="text-center">No Data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <p class="mr-2 my-0 py-1">
                Showing
                <b>{{
                  (pagination.page - 1) * pagination.pageLength + 1 > pagination.total
                    ? pagination.total
                    : (pagination.page - 1) * pagination.pageLength + 1
                }}</b>
                to
                <b>{{
                  pagination.page * pagination.pageLength > pagination.total
                    ? pagination.total
                    : pagination.page * pagination.pageLength
                }}</b>
                of <b>{{ pagination.total }}</b> rows
              </p>
              <pagination
                [maxSize]="10"
                [boundaryLinks]="true"
                [totalItems]="pagination.total"
                [(ngModel)]="pagination.page"
                (pageChanged)="onPageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nxp-loader *ngIf="loading"></nxp-loader>
