<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        User Management
      </div>
      <div class="card-body p-0">
        <div class="row">
          <div class="col-10 pt-3 mx-auto">
            <nxp-users
              title="ค้นหา (รหัสพนักงาน/ชื่อ)"
              type="text"
              [parentForm]="form"
              control="user"
              [submit]="submit"
              helpText="รหัสพนักงาน/ชื่อ"
              (change)="onChange($event)"
            ></nxp-users>
          </div>
        </div>
        <div class="col-md-12 mx-auto p-0">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-align-middle mb-0">
              <thead>
                <tr class="text-center">
                  <th>Emp ID</th>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Roles</th>
                  <th style="width: 80px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let u of users; let i = index">
                  <td>{{ u.empId }}</td>
                  <td>{{ u.name }}</td>
                  <td>{{ u.username }}</td>
                  <td>
                    <span class="badge badge-secondary mx-1" *ngFor="let role of u.roles; let j = index">
                      {{ role }}
                    </span>
                  </td>
                  <td style="width: 80px">
                    <button type="button" *ngIf="!isAdmin(u)" (click)="onEdit(u.id)" class="btn btn-sm btn-warning">
                      <i class="fa fa-edit mr-1"></i>Edit
                    </button>
                    <button disabled *ngIf="isAdmin(u)" type="button" class="btn btn-sm btn-light">
                      <i class="fa fa-ban mr-1"></i>No Action
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nxp-loader *ngIf="loading"></nxp-loader>
