<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header"><i class="fa fa-plus mr-2"></i>Create Auto-Actions</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="row" [formGroup]="form">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <nxp-select
                        title="MFG"
                        [parentForm]="form"
                        control="mfg"
                        [items]="_mfgs"
                        [submit]="submit"
                        placeholder="please select mfg"
                        (change)="onMfgChange($event)"
                        class="mb-0"
                      ></nxp-select>
                    </div>
                    <div class="col-12">
                      <nxp-select
                        title="Sub MFG"
                        [parentForm]="form"
                        control="subMfg"
                        [items]="_subMfgs"
                        [submit]="submit"
                        placeholder="please select sub mfg"
                        (change)="onSubMfgChange($event)"
                        class="mb-0"
                      ></nxp-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <nxp-select
                    title="Reject Name"
                    [parentForm]="form"
                    control="rejectName"
                    [items]="_rejectNames"
                    [submit]="submit"
                    placeholder="please select reject name"
                    (change)="onRejectNameChange($event)"
                    class="mb-0"
                  ></nxp-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" [formGroup]="form">
                  <div class="row">
                    <div class="col-md-12">
                      <nxp-input
                        title="Disposition"
                        type="number"
                        typeInput="selection"
                        placeholder="Rescreening (Select from list)"
                        [items]="_dispositions"
                        [parentForm]="form"
                        control="dispositionType"
                        [submit]="submit"
                        helpText="การจัดการกับงาน"
                        (change)="onDispositionChange($event)"
                      ></nxp-input>
                    </div>
                    <div class="col-md-12">
                      <nxp-input
                        title="1st Rescreening"
                        type="number"
                        typeInput="selection"
                        placeholder="1st Rescreening (Select from list)"
                        [items]="_rescreens"
                        [parentForm]="form"
                        control="rescreen1"
                        [submit]="submit"
                        (change)="onChangeRescreen1($event)"
                      ></nxp-input>
                    </div>
                    <div class="col-md-12">
                      <nxp-input
                        title="2nd Rescreening"
                        type="number"
                        typeInput="selection"
                        placeholder="2nd Rescreening (Select from list)"
                        [items]="_rescreens"
                        [parentForm]="form"
                        control="rescreen2"
                        [submit]="submit"
                        (change)="onChangeRescreen2($event)"
                      ></nxp-input>
                    </div>
                    <div class="col-md-12">
                      <nxp-input
                        title="3rd Rescreening"
                        type="number"
                        typeInput="selection"
                        placeholder="3rd Rescreening (Select from list)"
                        [items]="_rescreens"
                        [parentForm]="form"
                        control="rescreen3"
                        [submit]="submit"
                        (change)="onChangeRescreen3($event)"
                      ></nxp-input>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <h5>
                        Actions
                      </h5>
                    </div>
                    <div class="col-md-12">
                      <div class="card mb-2">
                        <div class="card-body p-3">
                          <div class="form-group row mb-3">
                            <div class="col-md-5">
                              <label for="priority">
                                Priority
                              </label>
                            </div>
                            <div class="col-md-7">
                              <input
                                type="checkbox"
                                [disabled]="!canCreate || form.get('id').value === 0"
                                class="form-control"
                                [(ngModel)]="action.priority"
                                name="priority"
                                style="width: 17px"
                                id="priority"
                              />
                            </div>
                          </div>
                          <div class="form-group row mb-3">
                            <div class="col-md-5">
                              <label for="roleActionId">
                                Role Action Group<br
                                  *ngIf="_roleActions.length === 0 && canCreate && form.get('id').value"
                                />
                                <a
                                  *ngIf="_roleActions.length === 0 && canCreate && form.get('id').value"
                                  target="_blank"
                                  [routerLink]="['/management/role-action-management']"
                                  >Add New Group</a
                                >
                              </label>
                            </div>
                            <div class="col-md-7">
                              <div class="row">
                                <div class="col-md-12 mb-2">
                                  <select
                                    [disabled]="!canCreate || form.get('id').value === 0"
                                    class="form-control"
                                    [(ngModel)]="action.roleActionId"
                                    name="roleActionId"
                                    id="roleActionId"
                                    [ngClass]="{ 'is-invalid': action.submit && !action.roleActionId }"
                                  >
                                    <option value="">please select role group</option>
                                    <option
                                      *ngFor="let roleGroup of _roleActions; let i = index"
                                      value="{{ roleGroup.id }}"
                                      >{{ roleGroup.label }}</option
                                    >
                                  </select>
                                </div>
                                <div class="col-md-12" *ngIf="action.roleActionId">
                                  <p
                                    [ngClass]="{
                                      'mb-1': !(getUsers(action.roleActionId).length - 1 === k),
                                      'mb-0': getUsers(action.roleActionId).length - 1 === k
                                    }"
                                    *ngFor="let user of getUsers(action.roleActionId); let k = index"
                                  >
                                    {{ user.name }}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 row">
                            <div class="col-md-12 mb-0">
                              <label for="action">Action detail</label>
                              <textarea
                                [disabled]="!canCreate || form.get('id').value === 0"
                                class="form-control"
                                [(ngModel)]="action.action"
                                name="action"
                                id="action"
                                rows="3"
                                [ngClass]="{ 'is-invalid': action.submit && !action.action }"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer p-2">
                          <button
                            [disabled]="!canCreate || form.get('id').value === 0"
                            (click)="onCreateAction()"
                            class="btn btn-sm btn-success float-right"
                          >
                            <i class="fa fa-plus"></i> Add Action
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <hr />
                    </div>
                    <div class="col-md-12" *ngFor="let ac of actions; let i = index">
                      <div class="card mb-2">
                        <div class="card-body p-3">
                          <div class="form-group row mb-3">
                            <div class="col-md-5">
                              <label for="priority{{ i }}">
                                Priority
                              </label>
                            </div>
                            <div class="col-md-7">
                              <input
                                [disabled]="!ac.isEdit"
                                type="checkbox"
                                class="form-control"
                                [(ngModel)]="actions[i].priority"
                                name="priority{{ i }}"
                                style="width: 17px"
                                id="priority{{ i }}"
                              />
                            </div>
                          </div>
                          <div class="form-group row mb-3">
                            <div class="col-md-5">
                              <label for="roleActionId{{ i }}"> Role Action Group<br /> </label>
                            </div>
                            <div class="col-md-7">
                              <div class="row">
                                <div class="col-md-12 mb-2">
                                  <select
                                    [disabled]="!ac.isEdit"
                                    class="form-control"
                                    [(ngModel)]="actions[i].roleActionId"
                                    name="roleActionId{{ i }}"
                                    id="roleActionId{{ i }}"
                                    [ngClass]="{
                                      'is-invalid': ac.submit && !ac.roleActionId
                                    }"
                                  >
                                    <option value="">please select role group</option>
                                    <option
                                      *ngFor="let roleGroup of _roleActions; let i = index"
                                      value="{{ roleGroup.id }}"
                                      >{{ roleGroup.label }}</option
                                    >
                                  </select>
                                </div>
                                <div class="col-md-12" *ngIf="actions[i].roleActionId">
                                  <p
                                    [ngClass]="{
                                      'mb-1': !(getUsers(actions[i].roleActionId).length - 1 === k),
                                      'mb-0': getUsers(actions[i].roleActionId).length - 1 === k
                                    }"
                                    *ngFor="let user of getUsers(actions[i].roleActionId); let k = index"
                                  >
                                    {{ user.name }}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-0 row">
                            <div class="col-md-12 mb-0">
                              <label for="action{{ i }}">Action detail</label>
                              <textarea
                                [disabled]="!ac.isEdit"
                                class="form-control"
                                [(ngModel)]="actions[i].action"
                                name="action{{ i }}"
                                id="action{{ i }}"
                                rows="3"
                                [ngClass]="{
                                  'is-invalid': ac.submit && !ac.action
                                }"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer p-1">
                          <button
                            *ngIf="!ac.isEdit"
                            (click)="onDeleteAction(i)"
                            class="btn btn-sm btn-danger float-right ml-1"
                          >
                            <i class="fa fa-trash mr-1"></i>Delete
                          </button>
                          <button
                            *ngIf="!ac.isEdit"
                            (click)="onEditAction(i)"
                            class="btn btn-sm btn-warning float-right ml-1"
                          >
                            <i class="fa fa-edit mr-1"></i>Edit
                          </button>
                          <button
                            *ngIf="ac.isEdit"
                            (click)="onCancelAction(i)"
                            class="btn btn-sm btn-danger float-right ml-1"
                          >
                            <i class="fa fa-ban mr-1"></i>Cancel
                          </button>
                          <button
                            *ngIf="ac.isEdit"
                            (click)="onSaveAction(i)"
                            class="btn btn-sm btn-primary float-right ml-1"
                          >
                            <i class="fa fa-save mr-1"></i>Update
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="actions.length === 0">
                      <div class="card mb-2">
                        <div class="card-body p-3 text-center">
                          No Actions
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr />
                </div>
                <div class="col-md-12 text-center mt-2">
                  <button [disabled]="!canCreate" (click)="onSave()" class="btn btn-sm btn-primary mx-1">
                    <i class="fa fa-save mr-1"></i>Save
                  </button>
                  <button (click)="onClear()" class="btn btn-sm btn-secondary mx-1">
                    <i class="fa fa-refresh mr-1"></i>Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header"><i class="fa fa-list mr-2"></i>Auto Dispositions</div>
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-align-middle mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>MFG</th>
                      <th>Sub MFG</th>
                      <th>Reject Name</th>
                      <th>Disposition</th>
                      <th>Rescreen1</th>
                      <th>Rescreen2</th>
                      <th>Rescreen3</th>
                      <th style="width: 75px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let autoDispose of autoDispositions; let i = index">
                      <td class="text-left">{{ i + 1 }}</td>
                      <td class="text-left">{{ mfg(autoDispose.mfg) }}</td>
                      <td class="text-left">{{ subMfg(autoDispose.mfg, autoDispose.subMfg) }}</td>
                      <td class="text-left">{{ rejectName(autoDispose.rejectName) }}</td>
                      <td class="text-left">{{ dispositionType(autoDispose.dispositionType) }}</td>
                      <td class="text-left">{{ rescreen(autoDispose.rescreen1) }}</td>
                      <td class="text-left">{{ rescreen(autoDispose.rescreen2) }}</td>
                      <td class="text-left">{{ rescreen(autoDispose.rescreen3) }}</td>
                      <td style="width: 75px">
                        <button type="button" (click)="onEdit(i)" class="btn btn-sm btn-warning">
                          <i class="fa fa-edit"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="autoDispositions.length === 0">
                      <td colspan="9" class="text-center">No Data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <p class="mr-2 my-0 py-1">
                Showing
                <b>{{
                  (pagination.page - 1) * pagination.pageLength + 1 > pagination.total
                    ? pagination.total
                    : (pagination.page - 1) * pagination.pageLength + 1
                }}</b>
                to
                <b>{{
                  pagination.page * pagination.pageLength > pagination.total
                    ? pagination.total
                    : pagination.page * pagination.pageLength
                }}</b>
                of <b>{{ pagination.total }}</b> rows
              </p>
              <pagination
                [maxSize]="10"
                [boundaryLinks]="true"
                [totalItems]="pagination.total"
                [(ngModel)]="pagination.page"
                (pageChanged)="onPageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nxp-loader *ngIf="loading"></nxp-loader>
</div>
